.footer {
    padding: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__section {
  flex: 0 0 33.33%;
  padding: 10px;
}
.footer__section h3 {
  font-size: 18px;
  font-weight: bold;
}
.footer__section p {
  margin: 5px 0;
}
.footer__section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__section ul li {
  margin-bottom: 5px;
}
.footer__section ul li a {
  text-decoration: none;
  color: #333;
}
.footer__section ul li a:hover {
  color: #c93015b4;
}
.footer__bottom {
  margin-top: 20px;
  text-align: center;
}
.footer__bottom p {
  font-size: 14px;
  color: #777;
}
