*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins',sans-serif;
}
body{
    width:100%;
    height:100vh;
    background-image: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size:cover;
}
.page1 p{
    padding-top: 40px;
    padding-left: 150px;
    font-size: larger;
}